@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.wrapper { 
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--small {
    padding: 15px;
    background-color: #7ED957;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header__img {
    max-width: 200px;
}

.header__h1 {
    margin: 0;
    display: none;
    font-size: 28px; 
}

.container__h3 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.container__p {
    padding: 0;
    margin: 0;
}

.container__button {
    color: #fff;
    border: none;
    background-color: #7ED957;
    font-size: 40px;
    padding: 0 15px 0 15px;
    transition: 0.1s;
    border-radius: 10px;
}

.container__button:hover, .container__button:active {
    background-color: #1AC8DB;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal__div {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #7ED957;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__button {
    color: #fff;
    border: none;
    background-color: #7ED957;
    font-size: 40px;
    padding: 0 15px 0 15px;
    transition: 0.1s;
    border-radius: 10px;
}

.modal__button:hover, .modal__button:active {
    background-color: #1AC8DB;
    cursor: pointer;
}

.modal__content {
    border-bottom: 1px solid #7ED957;
    border-top: 1px solid #7ED957;
    padding: 20px;
}

.modal__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__h3 {
    font-weight: bold;
    color: #7ED957;
}

.modal__label {
    margin-right: 20px;
    font-weight: bold;
    color: #7ED957;
}

.modal__input {
    border: 2px solid #7ED957;
    border-radius: 10px;
    color: #737373;
    font-size: 10px;
    padding: 5px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items__img {
    max-width: 200px;
    margin-bottom: 15px;
}

.items__li {
    list-style: none; 
    border-top: 2px solid #7ED957;
    border-left: 2px solid #7ED957;
    border-right: 2px solid #7ED957;
    border-bottom: 1px solid #7ED957;
    border-radius: 10px;
    margin: 15px;
    padding: 15px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.1);
    box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.1);
}

.items__button {
    border: none;
    background-color: #7ED957;
    color: white;
    font-size: 28px;
    margin: 5px;
    padding: 0 10px;
    border-radius: 5px;
    transition: 0.1s;
}

.items__button:hover, .items__button:active {
    background-color: #1AC8DB;
    cursor: pointer;
}

.items__h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.items__p {
    padding: 0;
    margin: 0;
    color: #737373;
    font-size: 15px;
    line-height: 1.3;
}

.items__p--bigger {
    font-weight: 500;
    font-size: 16px;
}

.items__p--description {
    font-size: 15px;
    margin: 0;
}

.items__p--weight {
    font-size: 15px;
    padding: 25px 0;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__li {
    list-style: none;
    font-size: 13px;
    color: #737373;
}

.cart__p {
    padding: 0;
    margin: 5px;
}